{% extends 'myshop/basic.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myshop/css/checkout.css' %}">

{% endblock css %}


{% block body %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout form</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill" id="items_quantity">{{quantity}}</span>
            </h4>
            <ul class="list-group mb-3">
                {% for product in products %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{product.0.0}} ({{product.1}})</h6>
                    </div>
                    <span class="text-muted">₹ : {{product.0.0.product_cost}}</span>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (INR)</span>
                    <strong>₹ {{total}}</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form action="/orderplaced/" method="POST" id="checkout_form"> {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name"
                            placeholder="Your full name" name="name">
                    </div>
                    <small id="invalid_name" style="color: red;display: none">⊗Invalid Name.Please enter full name in
                        this format eg.Wick John Robert </small>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="you@example.com" name="email">
                    <small id="invalid_email" style="color: red;display: none">⊗Invalid Email.Please check your email
                        again.</small>
                </div>

                <div class="mb-3">
                    <label for="email">Phone</label>
                    <input type="text" class="form-control" id="phone"
                        placeholder="+91 1234567890" name="phone">
                    <small id="invalid_phone" style="color: red;display: none">⊗Invalid Phone.Please enter phone in this
                        format eg.+91-0123456789.</small>

                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address"
                        placeholder="1234 Main St" name="address">
                    <small id="invalid_address" style="color: red;display: none">⊗Address cannot be blank.</small>

                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country"
                            placeholder="eg. India" name="country">
                    <small id="invalid_country" style="color: red;display: none">⊗Country cannot be blank.</small>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state"
                            placeholder="eg. Maharashtra" name="state">
                    <small id="invalid_state" style="color: red;display: none">⊗State cannot be blank.</small>

                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="401304" name="zip">
                    <small id="invalid_zip" style="color: red;display: none">⊗Zip cannot be blank.</small>

                    </div>
                    <textarea name="total_cost" style="display: none;">{{total}}</textarea>
                    <textarea name="order" style="display: none;" id="order"></textarea>

                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="cod" name="paymentMethod" type="radio" class="custom-control-input" value="cod" checked>
                        <label class="custom-control-label" for="cod">Cash on
                            delivery</label>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" id="checkout_btn" type="submit">Continue to
                    checkout</button>
            </form>
        </div>

    </div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'myshop/js/checkout.js' %}"></script>
{% endblock js %}