{% extends 'myshop/basic.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myshop/css/quickview.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myshop/css/index.css' %}">

{% endblock css %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <img src="/media/{{product.product_image}}" alt="product_image" class="col mx-2">
        <div class="col prod_info">
            <h4>{{product.product_name}}</h4>
            <p><strong>MRP.</strong> {{product.product_cost}}</p>
            <h5>Product description : </h5>
            <p>{{product.product_desc}}</p>
            <a id="add_to_cart_prod{{product.id}}" href="#" class="btn btn-primary add_to_cart col">Add to
                cart</a>

        </div>
    </div>
</div>

<div class="container-fluid my-3">
    <h3 class="mx-4">Similar items : </h3>

    <div id="carouselExampleControls{{forloop.counter}}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-md-center">
                    {% for product in sub_category_prods %}
                    <div class="card col-3 mx-2 my-2 EXT_card" style="width: 18rem;">
                        <img src="/media/{{product.product_image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="prod{{product.id}}">{{product.product_name}}</h5>
                            <p class="card-text">{{product.product_desc}}</p>
                            <div class="row prod_btn prod_info">
                                <a class="btn btn-primary mx-2 col" id="quickView"
                                    href="{% url 'quickView' product.id %}">Quick View</a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-md-center">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls{{forloop.counter}}" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls{{forloop.counter}}" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div style="display: none;">
    <ul id="hiddenProds">
        {% for product in all_prods %}
        <li id="prod{{product.id}}">{{product.product_name}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'myshop/js/quickview.js' %}"></script>
{% endblock js %}